/*== contact modal */

#contactModal {
    position:fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    display: none;
    background-color: var(--white-color);
}

.contactButton,
.submitButton,
.ctcFormBtn {
    width: 170px;
    height: 70px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    padding: 11px;
    font-size: 18px;
    font-weight: bold;
    color:var(--white-color);
    cursor: pointer;
}

.contactButton:hover,
.contactButton:focus,
.submitButton:hover  {
    background-color: var(--tertiary-color);
    color: var(--black-color);
}

.submitButton:focus {
    border-color: var(--white-color);
}

.ctcFormBtn:hover,
.ctcFormBtn:focus {
    background-color: var(--primary-color);
    border: solid 3px var(--secondary-color);
}

.submitBtn {
    margin: 35px 0 0;
}

.submitBtn:disabled {
    background: var(--secondary-color);
    cursor: not-allowed;
}

.submitBtn:disabled:hover {
    background: transparent;
    border: transparent;
    cursor: not-allowed;
    color: var(--tertiary-color);
}

#formContainer {
    position: relative;
    margin: 5% auto;
    box-shadow: #00000059 0px 5px 15px;
    width: 50%;
    border-radius: 5px;
    padding: 36px;
    background-color:var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#closeContactFormBtn {
    position: absolute;
    right: 36px;
    top: 36px;
    margin: 0;
    height: auto;
    width: auto;
    padding: 0; 
    background-color: transparent;
    border: solid 0px transparent;    
}

#closeContactFormBtn i {
    cursor: pointer;
    background: transparent;
    color: var(--white-color);
    font-size: 48px;
}

#closeContactFormBtn:hover i,
#closeContactFormBtn:focus i {
    cursor: pointer;
    color: var(--secondary-color);
}


#formBanner{
    width: 100%;
    padding: 0 0 20px 0;
}

#formBanner h2,
#formBanner h1 {
    padding: 0;
    line-height: 55px;
    font-size: 48px;
    font-weight: normal;
    color: var(--black-color);
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    margin: 10px 0 0;
    padding: 15px 0 0 0;
    color: #312E2E;
    font-size: 24px;
}

.formFieldBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 5px;
    padding: 3px 4px 5px;
    font-size: 24px;
}

form textarea {
    width: 100%;
    border-radius: 5px;
    padding: 4px;
    font-size: 24px;
}

form label .invisible {
    border:solid 0px transparent;
    background-color: transparent;
    position :relative;
    height: 0;
    width  : 0;
}


form span {
    position: absolute;
    bottom: -22px;
    width: 100%;
    border: solid 3px var(--secondary-color);
    border-radius: 0 0 5px 5px;
    padding: 3px;
   color: var(--white-color);
   background-color: var(--secondary-color);
}

.errorBorder {
    border: solid 3px var(--secondary-color);
}

/*== confirmation message modal */

#formContainer.messageIsSent {
    height : 350px;
    text-align : center;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}

.messageIsSent button {
    position :absolute;
    bottom : 25px;
}