





/*== index page */

#indexPageLogo {
    margin-left: 100px;
}

#photographerPageNav {
    position: relative;
    padding: 30px 0;
}

#photographerPageHeader {
    position: relative;
    padding: 0 60px;
}

.photographersSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographerArticle {    
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.keyboardFocus main .photographersSection .photographerArticle:focus-within {
    outline: 2px dashed var(--tertiary-color);
}

.keyboardFocus main .photographersSection .photographerArticle .photographerPageLink:focus {
    background-color: var(--white-color);
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.photographerPageLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}

.portraitBox {
    display:flex;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
    border: solid 2px transparent;
    border-radius: 50%;
    overflow: hidden;
}

.portraitBox:focus-within {
    border: solid 2px var(--secondary-color);
}

.photographerPortrait {
    display:block;
    margin-top: -50px;
    height: 358px;    
}

.photographerName, .photographerLocation {
    color: var(--primary-color);    
}

.photographerName {
    padding: 20px 0 0 ;
    font-size: 36px;
}

.photographerLocation {
    font-size: 13px;
}

.photographerTagline {
    font-size: 10px;;
}

.photographerPrice {
    font-size: 9px;
}
