#contactModal {
    position:fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #c4c4c44f;

}

.photographerHeader {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}



.contactButton, .submitButton {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contactButton:hover {
    background-color: #DB8876;
    color: black;
}

.submitButton:hover {
    transform: scale(1.1);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


/*** LightBox*/

#lightboxModal {
    z-index: 6;
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vw;
    /* padding: 80px; */
    background-color: rgba(233, 233, 233, 0.944);
}

.lightboxContainer {
    border: 1px solid red;
    /* position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-20%); */
    /* width: 100vw; */
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#previousBtn,
#nextBtn  {
    border: 1px solid blue;
    /* z-index: 10; */
    /* position: absolute; */
    width:80px;
    height: 100%;
    background-color: transparent;
    color: #901C1C;
    font-size: 40px;
    
}

#previousBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

#closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background-color: transparent;
    color: #901C1C;
    font-size: 40px;
}


.lightboxFigure {
    border: 1px solid green;
    /* width: 90%; */
    height: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.lightboxCaption h2 {
    border: 2px solid pink;
    color:#901C1C;
}

.lightboxFigure img,
.lightboxFigure video {
    /* width: 200px; */
    max-height: 100%;
    max-width: 100%;
    margin: auto;


}

