@import url(./style.css);

*:focus {outline: 2px solid var(--secondary-color); }
#contactModal {
    position:fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    display: none;
    background-color: var(--white-color);

}

.contactButton, .submitButton {
    font-size: 20px;
    font-weight: bold;
    color:var(--white-color);
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.contactButton:hover {
    background-color: var(--tertiary-color);
    color: black;
}

.submitButton:hover {
    transform: scale(1.1);
}

.modal {
    border-radius: 5px;
    background-color:var(--tertiary-color);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}


/*** LightBox*/

#lightboxModal {
    z-index: 6;
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vw;
    padding: 2vh 2vw;
    background-color: var(--white-color);
}

.lightboxContainer {
    position: relative;
    width: -moz-fit-content;
    width:fit-content;
    height: 99vh;
    margin: auto;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#previousBtn,
#nextBtn, 
#closeBtn {
    border: 1px solid transparent;
    width: 100px;
    height: 100%;
    padding: 10px 10px;
    background-color: transparent;
}

#previousBtn:focus,
#nextBtn:focus, 
#closeBtn:focus {
    outline: none;
}


#previousBtn {
    text-align: right; 
}

#nextBtn {
    text-align: left;   
}

#closeBtn {
    position: absolute;
    top: 0px;
    right: 0;
    height: 50px;
    text-align: left;
}

#previousBtn i,
#nextBtn i, 
#closeBtn i {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: var(--secondary-color);
    background-color:var(--white-color);
    font-size: 45px;
    line-height: 60px;
    text-align:center;
}

#previousBtn:focus i,
#nextBtn:focus i, 
#closeBtn:focus i {    
    background-color: var(--secondary-color);
    color:var(--white-color);
}


.lightboxFigure {
    transform: translateY(-3rem);
    margin: auto;
}

.lightboxCaption h2 {
    color:var(--secondary-color);
    font-size: 1.5rem;
}

.lightboxFigure img,
.lightboxFigure video {
    max-height: calc(90vh - 6rem);
    max-width: 100%;
    margin: auto;
}

