@import url(./index_page.css);
@import url("./photographer_page.css");
@import url(./lightbox.css);
@import url(./contact_modal.css);


/*== Global */
:root {

    /* Color palette */
    --primary-color : #D3573C;
    --secondary-color: #901C1C;
    --tertiary-color : #DB8876;
    --dark-grey-color : #757575;
    --light-grey-color:#E5E5E5;
    --very-light-grey-color: #FAFAFA;
    --white-color: #ffffff;
    --black-color: #000000;    
}

* {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.keyboardFocus *:focus,
.keyboardFocus * *:focus,
.keyboardFocus * * *:focus,
.keyboardFocus * * * * *:focus {
    outline: 2px solid var(--secondary-color); 
}




body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
}

#indexHeader{
    padding: 40px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

h1 {
    margin-right: 100px;
    font-size: 36px;
    color: var(--secondary-color);    
}

.invisible {
    font-size: 0;
}

#escapeLink {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 0 0 5px 5px;
    padding: 0 25px;
    line-height: 50px;
    color:transparent;  
}

#escapeLink:focus {
    color: var(--white-color);
    background-color: var(--secondary-color) !important;
}

.logo {
    height: 50px;
}


