@import url("photographer.css");


/* !ajout */
:root {

    /* Color palette */
    --primary-color : #D3573C;
    --secondary-color: #901C1C;
    --tertiary-color : #DB8876;
    --light-grey-color:#E5E5E5;
    --white-color: #ffffff;
    
}
* {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 2px transparent; */
}
/* :focus 
{
    /* transform : scale(1.2); */
    /* border: solid 2px var(--secondary-color); */
    /* border: solid 2px red; */

/* }  */

*:focus {outline: 1px solid var(--secondary-color); }

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
}


header {
    padding: 40px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 90px; */
}

h1 {
    margin-right: 100px;
    font-size: 36px;
    color: var(--secondary-color);
    
}
.invisible {
    font-size: 0;
}
.logo {
    height: 50px;
    margin-left: 100px;
}

.photographersSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographerArticle {
    
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.photographerPageLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}
/* .photographerPageLink:focus {
    background-color: var(--secondary-color);
}
.photographerPageLink:focus .photographerName {
    color: white;
} */

.portraitBox {
    display:flex;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.photographerPortrait {
    display:block;
    margin-top: -50px;
    height: 358px;    
}

.photographerName, .photographerLocation {
    color: var(--primary-color);    
}

.photographerName {
    padding: 20px 0 0 ;
    font-size: 36px;
}

.photographerLocation {
    font-size: 13px;
}

.photographerTagline {
    font-size: 10px;;
}

.photographerPrice {
    font-size: 9px;
}

/************  photographer Page ************/


/****** Header */
.photographerHeader {
    position: relative;
    height: 300px;
    margin: 0 150px 0 50px;
}
/* .photographerHeader {
    
    
}

.photographerBanner {
    background-color: #FAFAFA;
    padding: 50px;
} */
.photographerHeader  .contactButton {
    position: relative;
    top:50%;
    left: 50%;

}

.photographerBanner {
    width: 100%;
    padding: 50px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.photographerInfoBox {
    width: 370px;
    height: 65px;
    display: flex;
    align-items: center;

    background: var(--tertiary-color);
}
.photographerPrice {

    font-size: large;
    font-weight: 500;
}

/****** Sorting Section */

#portfolioSorters{
    position: relative;
    height: 50px;
    padding: 0 60px;
}

#portfolioSorters h2 {
    line-height: 50px;
    font-size: 1rem;
    font-weight: 700;
}

#SortingDropdown {
    position: absolute;
    z-index: 3;
    left: 150px;
    top: 0;
    width: 200px;
    height: 50px;
    overflow: hidden;
    padding: 0 15px;
    background-color: var(--secondary-color);
    color: white;
}

#SortingDropdown:hover,
#SortingDropdown:focus,
#SortingDropdown:focus-within
{
    height: auto;

}


#SortingDropdown:hover #SortingDropdownIconBox{
    transform: rotate(-90deg);
}

#SortingDropdownIconBox {
    position:absolute;
    right:0;
    top: 0;
    line-height: 50px;
    padding: 0 15px;
    font-size: 30px;
    background-color: var(--secondary-color);
}



#SortingList li{
    padding: 0 0 0 15px;
    list-style-type: none;    
    line-height: 50px;
    border-bottom: solid 1.5px white;
}

#SortingList li:last-child{
    
    border-bottom: none;
}

#SortingList li:hover,
#SortingList li:focus{
    background-color: var(--tertiary-color);
    color: black;
    font-weight: 700;
}


/****** Section protfolio */

#mediaDisplayGrid {
    position: relative;
    /* max-height: 100vh;
    overflow: hidden; */
    display: grid;
    padding: 50px 60px;
    grid-template-columns: 1fr 1fr 1fr;
}


/****** Cartes Medias*/

.mediaCard{
    width: 350px;
    /* overflow: clip;
    overflow-clip-margin: content-box; */
}

.mediaBox {
    width: 350px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    
}

/* .photoBox:focus-within,
.videoBox:focus-within {
    transform: scale(1.08);
} */
/* .mediaBox:focus-within,
.mediaBox:hover {
    transform: scale(1.08);
} */





/* .photoBox img, 
.videoBox video {
    border-radius: 5px;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: center;    
    cursor: pointer;
    
} */
.mediaBox .media 
 {
    border-radius: 5px;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: center;    
    cursor: pointer;


    
}
.mediaBox .mediaInfos h3 {
    color: blue;
}


.mediaInfos {
    padding: 10px 10px 25px;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
}
.likesContainer {
    display: flex;
    align-items: center;
}

.cardLikesHeart {
    padding: 0 0 0 5px;
    font-size: 15px;
}

/* .clickedHeart {
    color: blueviolet;
} */



 /****** floating box */

#priceAndTotalLikesBox {
    position: fixed;
    bottom: 0;
    right: calc(((100vw - 1440px)/2) + 100px);   
    width: 300px;
    height: 50px;
    padding: 0 25px;
    background-color: var(--tertiary-color); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#totalLikes {
    /* width: 100px; */
    height: 50px;
    padding: 0 10px 0 0;
    line-height: 50px;
}

#totalLikesIco {
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: black;
    line-height: 50px;
}
#priceBox {
    /* width: 100px; */
    height: 50px;
    line-height: 50px;
}
#priceBox::after {
    content: "€ /jour";
    color: black;
    line-height: 50px;
}